# Backend API
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# Clerk Authentication (lấy từ https://dashboard.clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cGxlYXNpbmctdHJvbGwtNjAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_p5C0wfb3yYfwF6m1I0rOldl0jTnWws6pcX6NlRlDY9

# Auth redirects
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/briefing
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/briefing
